<div class="centered">
  <% if @result.length > 0 %>
    <div class="title is-2">
      <%= @result.first.from_airport.code%>
      <span><i class="fas fa-angle-double-right"></i></span>
      <%= @result.first.to_airport.code %>
    </div>
    <div class="title is-6">
      <%= @result.first.departure_date %>
    </div>
  <div class="section">
    <% @result.each_with_index do |flight, index| %>
      <div class="box">
        <div class="block">
          Departure <br /> <%= flight.departure_time.strftime("%H\:%M") %>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    No result.
  <% end %>
</div>