<%= form_with model: @flight do |f| %>
  <table class="table">
    <thead>
      <th>From</th>
      <th>To</th>
      <th>Date</th>
    </thead>
    <tbody>
      <td>
        <div class="select">
          <%= f.select(:start_id, @airports) %>
        </div>
      </td>
      <td>
        <div class="select">
          <%= f.select(:finish_id, @airports) %>
        </div>
      </td>
      <td>
        <div class="select">
          <%= f.select(:start_datetime, @dates) %>
        </div>
      </td>
    </tbody>
  </table>
<% end %>