<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <%= render 'search_form' %>
          <div class="section">
          <% unless @result.nil? %>
            <%= render 'result' %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>